<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @supply_variant.title %>
</p>

<%= link_to 'Edit', edit_supply_variant_path(@supply_variant) %> |
<%= link_to 'Back', supply_variants_path %>
